# Day 8: Space Image Format

[Aoc Site](https://adventofcode.com/2019/day/8)

## Part I

<p><span title="I'm not sorry.">The Elves' spirits are lifted when they realize you have an opportunity to reboot one of their Mars rovers, and so they are curious if you would spend a brief sojourn on Mars.</span> You land your ship near the rover.</p>
<p>When you reach the rover, you discover that it's already in the process of rebooting! It's just waiting for someone to enter a <a href="https://en.wikipedia.org/wiki/BIOS">BIOS</a> password. The Elf responsible for the rover takes a picture of the password (your puzzle input) and sends it to you via the Digital Sending Network.</p>
<p>Unfortunately, images sent via the Digital Sending Network aren't encoded with any normal encoding; instead, they're encoded in a special Space Image Format.  None of the Elves seem to remember why this is the case. They send you the instructions to decode it.</p>
<p>Images are sent as a series of digits that each represent the color of a single pixel.  The digits fill each row of the image left-to-right, then move downward to the next row, filling rows top-to-bottom until every pixel of the image is filled.</p>
<p>Each image actually consists of a series of identically-sized <em>layers</em> that are filled in this way. So, the first digit corresponds to the top-left pixel of the first layer, the second digit corresponds to the pixel to the right of that on the same layer, and so on until the last digit, which corresponds to the bottom-right pixel of the last layer.</p>
<p>For example, given an image <code>3</code> pixels wide and <code>2</code> pixels tall, the image data <code>123456789012</code> corresponds to the following image layers:</p>
<pre><code>Layer 1: 123
         456

Layer 2: 789
         012
</code></pre>
<p>The image you received is <em><code>25</code> pixels wide and <code>6</code> pixels tall</em>.</p>
<p>To make sure the image wasn't corrupted during transmission, the Elves would like you to find the layer that contains the <em>fewest <code>0</code> digits</em>.  On that layer, what is <em>the number of <code>1</code> digits multiplied by the number of <code>2</code> digits?</em></p>

In [1]:
# Prep Notebook
import pandas as pd
import numpy as np

import disfunctions as func

In [2]:
def get_file_content(path):
    with open(path) as f:
        return f.read()

In [3]:
t1input = '123456789012'

In [4]:
def source_to_df(data, width=3, height=2):
    df = pd.DataFrame(([d for d in data]), columns=['digits'])
    chars = len(data)
    layer_len = width * height
    layers = chars // layer_len
    extras = chars % layer_len
    print(chars, layer_len, layers, extras)
    df['iter'] = df.index
    df['layer'] = df.iter.apply(lambda x: x // layer_len)
    df['xpos'] = df.iter.apply(lambda x: x % width)
    df['ypos'] = df.iter.apply(lambda x: (x % layer_len) // width)
    df.drop(columns=['iter'], inplace=True)
    if extras:
        df.layer.iloc[-extras:] = -1
    
    return df

In [5]:
testdf = source_to_df(t1input)
testdf.head(27)

12 6 2 0

   digits  layer  xpos  ypos
0       1      0     0     0
1       2      0     1     0
2       3      0     2     0
3       4      0     0     1
4       5      0     1     1
5       6      0     2     1
6       7      1     0     0
7       8      1     1     0
8       9      1     2     0
9       0      1     0     1
10      1      1     1     1
11      2      1     2     1

<p>To begin, <a href="https://adventofcode.com/2019/day/8/input" target="_blank">get your puzzle input</a>.</p>

In [6]:
source_file = '../Datafiles/2019_08.txt'
p1input = get_file_content(source_file)
len(p1input)

15001

In [7]:
srcdf=source_to_df(p1input, width=25, height=6)
srcdf.describe()

15001 150 100 1

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

              layer          xpos          ypos
count  15001.000000  15001.000000  15001.000000
mean      49.496634     11.999200      2.499833
std       28.869015      7.211768      1.707947
min       -1.000000      0.000000      0.000000
25%       24.000000      6.000000      1.000000
50%       49.000000     12.000000      2.000000
75%       74.000000     18.000000      4.000000
max       99.000000     24.000000      5.000000

In [8]:
srcdf.layer.value_counts()

 95    150
 82    150
 2     150
 10    150
 18    150
 26    150
 34    150
 42    150
 50    150
 58    150
 66    150
 74    150
 90    150
 83    150
 98    150
 3     150
 11    150
 19    150
 27    150
 35    150
 43    150
 51    150
 59    150
 67    150
 97    150
 89    150
 81    150
 73    150
 8     150
 16    150
      ...
 63    150
 71    150
 79    150
 6     150
 93    150
 85    150
 77    150
 4     150
 12    150
 20    150
 28    150
 36    150
 44    150
 52    150
 60    150
 68    150
 76    150
 84    150
 92    150
 5     150
 13    150
 21    150
 29    150
 37    150
 45    150
 53    150
 61    150
 69    150
 0     150
-1       1
Name: layer, Length: 101, dtype: int64

In [9]:
srcxtras=srcdf[srcdf.layer==-1]
srcdf = srcdf[srcdf.layer!=-1]
srcdf.describe()

              layer          xpos          ypos
count  15000.000000  15000.000000  15000.000000
mean      49.500000     12.000000      2.500000
std       28.867032      7.211343      1.707882
min        0.000000      0.000000      0.000000
25%       24.750000      6.000000      1.000000
50%       49.500000     12.000000      2.500000
75%       74.250000     18.000000      4.000000
max       99.000000     24.000000      5.000000

In [10]:
chk_layer = srcdf[srcdf.digits == '0'].layer.value_counts().idxmin()

In [11]:
chkdf = srcdf[srcdf.layer == chk_layer].digits
chkdf.value_counts()

2    127
1     18
0      5
Name: digits, dtype: int64

In [12]:
num1s = chkdf[chkdf=='1'].count()
num2s = chkdf[chkdf=='2'].count()

In [13]:
ansp1 = num1s * num2s
ansp1

2286

In [14]:
actp1 = 2286
ansp1 == actp1

True

### That's the right answer! You are one gold star closer to rescuing Santa.

# Part II

<p>Now you're ready to decode the image. The image is rendered by stacking the layers and aligning the pixels with the same positions in each layer. The digits indicate the color of the corresponding pixel: <code>0</code> is black, <code>1</code> is white, and <code>2</code> is transparent.</p>
<p>The layers are rendered with the first layer in front and the last layer in back. So, if a given position has a transparent pixel in the first and second layers, a black pixel in the third layer, and a white pixel in the fourth layer, the final image would have a <em>black</em> pixel at that position.</p>
<p>For example, given an image <code>2</code> pixels wide and <code>2</code> pixels tall, the image data <code>0222112222120000</code> corresponds to the following image layers:</p>
<pre><code>Layer 1: <em>0</em>2
         22

Layer 2: 1<em>1</em>
         22

Layer 3: 22
         <em>1</em>2

Layer 4: 00
         0<em>0</em>
</code></pre>
<p>Then, the full image can be found by determining the top visible pixel in each position:</p>
<ul>
<li>The top-left pixel is <em>black</em> because the top layer is <code>0</code>.</li>
<li>The top-right pixel is <em>white</em> because the top layer is <code>2</code> (transparent), but the second layer is <code>1</code>.</li>
<li>The bottom-left pixel is <em>white</em> because the top two layers are <code>2</code>, but the third layer is <code>1</code>.</li>
<li>The bottom-right pixel is <em>black</em> because the only visible pixel in that position is <code>0</code> (from layer 4).</li>
</ul>
<p>So, the final image looks like this:</p>
<pre><code>01
10
</code></pre>
<p><em>What message is produced after decoding your image?</em></p>

In [15]:
def drill_layers(df, xpos, ypos):
    chkdf = df[(df.xpos == xpos) & (df.ypos == ypos) & (df.digits != '2')].digits.head(1)
    chkval = chkdf.max()
    chkval = 'O' if chkval == '1' else ' '
    return chkval

In [16]:
def interpret_source(df):
    xlim = df.xpos.max() + 1
    ylim = df.ypos.max() + 1
    yvals = []
    for y in range(ylim):
        xvals = []
        for x in range(xlim):
            xval=drill_layers(df, x, y)            
            xvals.append(xval)
        xrow = ''.join(xvals)
        yvals.append(xrow)
    return '\n'.join(yvals)

In [17]:
drill_layers(srcdf, 0, 0)

' '

In [18]:
img = interpret_source(srcdf)
print(img)

 OO    OO OOOO O    OOO
O  O    O    O O    O  O
O       O   O  O    O  O
O       O  O   O    OOO
O  O O  O O    O    O
 OO   OO  OOOO OOOO O

In [19]:
ansp2 = 'CJZLP'

In [20]:
actp2 = 'CJZLP'
ansp2 == actp2

True

### That's the right answer! You are one gold star closer to rescuing Santa.