# Day 4: Secure Container

[Aoc Site](https://adventofcode.com/2019/day/4)

## Part I

You arrive at the Venus fuel depot only to discover it's protected by a password. The Elves had written the password on a sticky note, but someone threw it out.

However, they do remember a few key facts about the password:
   - It is a six-digit number.
   - The value is within the range given in your puzzle input.
   - Two adjacent digits are the same (like 22 in 122345).
   - Going from left to right, the digits never decrease; they only ever increase or stay the same (like 111123 or 135679).

Other than the range rule, the following are true:
  - 111111 meets these criteria (double 11, never decreases).
  - 223450 does not meet these criteria (decreasing pair of digits 50).
  - 123789 does not meet these criteria (no double).

***How many different passwords within the range given in your puzzle input meet these criteria?***

Your puzzle input is `245318-765747`.

In [34]:
import pandas as pd
import re

In [101]:
# Functionize modulator

def determine_passwords(lb=245318, ub=765747):
    hits=[]
    lima = (lb // 100000, ub // 100000)
    limb = (lb // 10000, ub // 10000)
    limc = (lb // 1000, ub // 1000)
    limd = (lb // 100, ub // 100)
    lime = (lb // 10, ub // 10)
    limf = (lb, ub)
    
    for a in range(10):
        chka = a
        if chka < lima[0]:
            continue
        if chka > lima[1]:
            print(chka)
            break
        for b in range(a,10):
            chkb = 10 * chka + b
            if chkb < limb[0]:
                continue
            if chkb > limb[1]:
                print(chkb)
                break
            for c in range(b,10):
                chkc = 10 * chkb + c
                if chkc < limc[0]:
                    continue
                if chkc > limc[1]:
                    print(chkc)
                    break
                for d in range(c,10):
                    chkd = 10 * chkc + d
                    if chkd < limd[0]:
                        continue
                    if chkd > limd[1]:
                        print(chkd)
                        break
                    for e in range(d,10):
                        chke = 10 * chkd + e
                        if chke < lime[0]:
                            continue
                        if chke > lime[1]:
                            print(chke)
                            break
                        for f in range(e,10):
                            chkf = 10 * chke + f
                            if chkf < limf[0]:
                                continue
                            if len(set([a,b,c,d,e,f])) == 6:
                                continue
                            if chkf > limf[1]:
                                print(chkf)
                                break
                            hits.append(chkf)
                            # print(chkf)
    return hits
    
        
hits = pd.Series(determine_passwords(), name='hits')
display(hits.describe())
ansp1 = len(hits)
ansp1

77
8

count      1079.000000
mean     398032.149212
std      112440.503976
min      245555.000000
25%      333843.500000
50%      355669.000000
75%      456667.500000
max      699999.000000
Name: hits, dtype: float64

1079

In [102]:
actp1 = 1079
ansp1 == actp1

True

### That's the right answer! You are one gold star closer to rescuing Santa.

# Part II

An Elf just remembered one more important detail: the two adjacent matching digits are not part of a larger group of matching digits.

Given this additional criterion, but still ignoring the range rule, the following are now true:
   - 112233 meets these criteria because the digits never decrease and all repeated digits are exactly two digits long.
   - 123444 no longer meets the criteria (the repeated 44 is part of a larger group of 444).
   - 111122 meets the criteria (even though 1 is repeated more than twice, it still contains a double 22).
How many different passwords within the range given in your puzzle input meet all of the criteria?

In [92]:
p2df = pd.DataFrame(hits)#.rename(columns={'hits':'nbr'})
p2df['str'] = p2df.hits.apply(lambda x: str(x))
p2df['dbls'] = p2df.str.apply(lambda x: len(set(re.findall(r'(\d)\1', x))))
p2df['trps'] = p2df.str.apply(lambda x: len(set(re.findall(r'(\d)\1\1', x))))

p2df.head(25)

      hits     str  dbls  trps
0   245555  245555     1     1
1   245556  245556     1     1
2   245557  245557     1     1
3   245558  245558     1     1
4   245559  245559     1     1
5   245566  245566     2     0
6   245567  245567     1     0
7   245568  245568     1     0
8   245569  245569     1     0
9   245577  245577     2     0
10  245578  245578     1     0
11  245579  245579     1     0
12  245588  245588     2     0
13  245589  245589     1     0
14  245599  245599     2     0
15  245666  245666     1     1
16  245667  245667     1     0
17  245668  245668     1     0
18  245669  245669     1     0
19  245677  245677     1     0
20  245688  245688     1     0
21  245699  245699     1     0
22  245777  245777     1     1
23  245778  245778     1     0
24  245779  245779     1     0

In [99]:
chk = p2df.str[0]
print(type(chk))
print(chk, set(re.findall(r'(\d)\1', '554455')))

<class 'str'>
245555 {'5', '4'}

In [105]:
non_dups = p2df[(p2df.trps == 0) | ((p2df.trps == 1) & (p2df.dbls > 1))]
ansp2 = len(non_dups)

In [106]:
actp2 = 699
ansp2 == actp2

True

### That's the right answer! You are one gold star closer to rescuing Santa.